**/venv/
**/*.docx#
**/*.doc#
**/*.tar.gz
**/content/
**/clase_yolo/
**/*.pt
**/EXAMEN/
**/*.zip
**/*.mp4
**/*.mp3
**/*.env
**/*.jpg
**/*.keras

SBD

**/examen_enunciado/

**/Banana Ripeness Classification.v2-original-images_modifiedclasses.folder/
**/dataset/
**/datasetcompleto/
**/dataset-piedra-papel-tijeras/
**/bbox-retail.v1i.yolov11/
**/drinks.v1i.yolov11/
**/runs/
**/pistachos/
**/DatosMySQL/
**/DatosRedis/

**/LabelStudio.png