**/venv/
**/*.docx#
**/*.doc#
**/*.tar.gz
**/content/
**/clase_yolo/
**/*.pt
**/EXAMEN/
**/*.zip
**/Banana Ripeness Classification.v2-original-images_modifiedclasses.folder/
**/dataset/
**/datasetcompleto/
**/runs/

**/LabelStudio.png